.eid-card-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffff9b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eid-card-diamond-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.eid-card-diamond-section {
  display: flex;
  gap: 1.2rem;
  margin-top: -10px;
}

.eid-card-diamond {
  background-color: #0da308;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.eid-card-diamond.secondary {
  background-color: #72bd1f;
}

.eid-card-text {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Education List */
.education-list-container {
  width: 100vw;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.education-list-input-select {
  min-width: 240px;
  padding: 8px;
  border-radius: 4px;
  background-color: #39823c;
  border: 1px solid #39823c;
  color: white;
}
.education-list-input-select:focus {
  outline-color: #add3b6;
  outline-offset: 1px;
}

.education-list-input-select.secondary {
  background-color: #c83a3a;
  border: 1px solid #c83a3a;
}

.education-list-input-select.secondary:focus {
  outline-color: #dea0a5;
  outline-offset: 1px;
}
