/* 1. Eid Card */
.eid-card-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffff9b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eid-card-diamond-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.eid-card-diamond-section {
  display: flex;
  gap: 1.2rem;
  margin-top: -10px;
}

.eid-card-diamond {
  background-color: #0da308;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.eid-card-diamond.secondary {
  background-color: #72bd1f;
}

.eid-card-text {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* 2. Education List */
.education-list-container {
  width: 100vw;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.education-list-input-select {
  min-width: 240px;
  padding: 8px;
  border-radius: 4px;
  background-color: #39823c;
  border: 1px solid #39823c;
  color: white;
}
.education-list-input-select:focus {
  outline-color: #add3b6;
  outline-offset: 1px;
}

.education-list-input-select.secondary {
  background-color: #c83a3a;
  border: 1px solid #c83a3a;
}

.education-list-input-select.secondary:focus {
  outline-color: #dea0a5;
  outline-offset: 1px;
}

/* 3. Avatar Generator */

.avatar-container {
  background-color: lightblue;
  height: 100%;
  padding: 1rem;
  min-height: 300px;
}

.avatar-container .avatar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.avatar-container .avatar-main input {
  padding: 4px;
  min-width: 240px;
}

.avatar-container .avatar-main button {
  padding: 8px 12px;
  border: none;
  background: #0da308;
  color: white;
  border-radius: 4px;
}

.avatar-container .avatar-main button.disabled {
  background-color: lightgrey;
  color: lightslategray;
  cursor: not-allowed;
}

.avatar-container .avatar-image {
  margin-top: 1rem;
  width: 160px;
  height: 160px;
}

.avatar-container .avatar-image img {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}
